# Assignment 3

### Write a function to count the number 4 in a given list.

In [1]:
def count_4(lst):
  sum = 0
  for num in lst:
    if num == 4:
      sum+=1
  return sum

x = [1,3,4,5,4,54,6,4]
count_4(x)

3

### write a  function to check whether a number is divisible by another number.

In [2]:
def if_divisible(x,y):
  if x % y ==0:
    return True
  else:
    return False

if_divisible(6,3)

True

In [3]:
if_divisible(5,2)

False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [7]:
def find_max_min(lst):
  result =[min(lst),max(lst)]
  return result

find_max_min(x)

[1, 54]

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [8]:
def similar(lst1,lst2):
  flag = False
  for outer_num in lst1:
    for inner_num in lst2:
      if outer_num == inner_num:
        flag = True
  return flag

lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9]
similar(lst1,lst2)

False

In [9]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,4]
similar(lst1,lst2)

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [11]:
def factorial(x):
  if x == 1:
    return x
  else:
    return x * factorial(x-1)

factorial(6)

720

In [12]:
fact_6 = 6*5*4*3*2*1
fact_6

720

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [13]:
def in_range(num):
  flag = False
  if num in range(3,12):
    flag = True
  return flag
in_range(12)

False

In [14]:
in_range(5)

True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [15]:
def mult_table(num):
  result =[]
  for i in range(1,11):
    result.append(num*i)
  return result
mult_table(5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [17]:
def lesser_of_two_evens(x,y):
  if x%2 ==0 and y%2 ==0:
    return min(x,y)
  else:
    return max(x,y)
lesser_of_two_evens(2,4)

2

In [18]:
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
def animal_crackers(string):
  string = string.split(' ')
  if string[0][0] == string[1][0]:
    return True
  else:
    return False
animal_crackers('Levelheaded Llama')

True

In [21]:
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [22]:
def makes_twenty(x,y):
  if x+y ==20 or x == 20 or y == 20:
    return True
  else :
    return False
makes_twenty(20,10)

True

In [23]:
makes_twenty(12,8)

True

In [24]:
makes_twenty(2,3)

False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [25]:
def almost_there(x):
  if x in range(90,111) or x in range(190,211):
    return True
  else:
    return False
almost_there(90)

True

In [26]:
almost_there(104)

True

In [27]:
almost_there(150)

False

In [28]:
almost_there(209)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [29]:
def blackjack(x,y,z):
  sum = x+y+z
  if sum <= 21:
    return sum
  elif sum > 21 and (x==11 or y==11 or z == 11):
    return sum-10
  else:
    return 'BUST'

blackjack(5,6,7)

18

In [30]:
blackjack(9,9,9)

'BUST'

In [31]:
blackjack(9,9,11)

19